* {
    font-family: "Noto Serif JP", serif;
}

.blogs {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 100px;
}

.bg-text{
    position: absolute;
    z-index: 0;
    right: 20px;
    top: 20px;
    font-size: 10rem;
    opacity: 0.1;
    font-weight: bold;
}

.blogs .content {
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.blogs.categoryPage .content{
    flex-direction: row-reverse;
}

.blogs .content .main {
    width: 65%;
    margin-bottom: 50px;
    padding-bottom: 30px;
    margin-top: 40px;
}

.blogs .cards {
    display: flex;
    flex-wrap: wrap;
}

.blogs .content .cards .card {
    width: 40%;
    height: auto;
    margin-bottom: 60px;
    /* margin-top: 40px; */
    /* margin-left: 30px; */
    margin-right: 30px;
    transition: 0.3s;
}

.blogs .content .cards .card:hover {
    transform: scale(1.05);
}

.blogs .card .card-header {
    position: relative;
}

.blogs .card .card-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.blogs .content .card-header span {
    position: absolute;
    font-size: 0.8rem;
    bottom: 10px;
    left: 10px;
    background: rgb(0, 15, 83);
    padding: 6px 10px;
    border-radius: 30px;
}

.blogs .card .card-body {
    height: 50%;
    padding: 20px;
}

.blogs .card .card-body h3 {
    margin-bottom: 20px;
    font-size: 1rem;
}

.blogs .content .sidebar {
    width: 25%;
    /* background: green; */
    margin: 40px auto;
    /* height: 70vh; */
    z-index: 3;
}

.search {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
    z-index: 5;
}

.search input {
    flex: 1;
    border: none;
    padding: 8px;
    background-color: transparent;
    color: black;
    z-index: 1;
}

.search button {
    border: none;
    padding: 8px 20px;
    background-color: #ddd;
    color: #888;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #ccc;
}

.fa-search {
    font-size: 14px;
}

.search-result{
    text-align: center;
    margin-bottom: 30px;
}

.search-not-found{
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
}

.paginate{
    /* display: inline-block; */
    display: flex;
    width: 80%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background: rgb(254, 255, 255);
    border-radius: 30px;
}

@media screen and (max-width:992px) {
    .paginate{
        width: 100%;
        margin-top: 50px;
    }
    .bg-text{
        font-size: 6rem;
    }
}

@media screen and (max-width:1250px) {
    .blogs .content {
        width: 90%;
    }
}

@media screen and (max-width:1100px) {
    .blogs .content {
        width: 95%;
    }
}

@media screen and (max-width:1000px) {
    .blogs .content .main {
        width: 100%;
    }

    .blogs .content .main .cards {
        display: block;
        margin-right: 30px;
        width: 93%;
    }

    .blogs .content .cards {
        width: 60%;
    }

    .blogs .content .sidebar {
        width: 40%;
    }

    .blogs .content .cards .card {
        margin-left: 0;
        width: 100%;
    }

    .blogs .content .card .card-img {
        height: 300px;
    }
}

@media screen and (max-width:768px) {

    .blogs .content .main {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .blogs .content .main .search {
        width: 100%;
    }

    .blogs .content .main .search input {
        width: 100% !important;
    }

    .blogs .content {
        display: block;
        width: 90% !important;
    }

    .blogs .cards {
        width: 100% !important;
        margin-right: none;
    }

    .blogs .cards .card {
        width: 100%;
    }

    .blogs .card .card-img {
        height: 200px !important;
    }

    .blogs .sidebar {
        width: 100% !important;
    }

    .blogs .card p {
        font-size: 0.8rem;
    }
    .bg-text{
        top: 30px;
        font-size: 4rem;
    }
}


/* blog-detail */
.blog-detail {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.blog-detail .container {
    width: 50%;
    overflow-x: hidden;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.blog-detail .title{
    margin-bottom: 50px;
}

.blog-detail .container .title h2{
    font-size: 2.3rem;
    position: relative;
    margin-bottom: 20px;
}
.blog-detail .container .title p{
    font-size: 0.9rem;
    color: rgb(209, 209, 209);
}

.blog-detail .container .title h2::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.blog-detail .container .thumbnail {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

@media screen and (max-width:1300px) {
    .blog-detail .container {
        width: 60%;
    }
}

@media screen and (max-width:1000px) {
    .blog-detail .container {
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    .blog-detail .container {
        width: 90%;
    }

    .blog-detail .container .title h2{
        font-size: 1.3rem !important;
    }
}


/* category */
.category{
    padding: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category .title{
    text-align: center;
    font-size: 1.5rem;
}

.blogs.categoryPage .category .title{
    font-size: 1.2rem;
}

.category .category-list{
    margin-top: 50px;
}

.category .category-item{
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    transition: 0.3s;
}

.category .category-list .category-item a{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.blogs.categoryPage .category-item{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}


.category-item a i{
    width: 50px;
    font-size: 2rem;
    margin-right: 40px;
}

.blogs.categoryPage .category-item i{
    margin-right: 10px !important;
}

.blogs.categoryPage .category-item i{
    width: 50px;
    font-size: 2rem;
    margin-right: 40px;
}

.category-item::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -20px;
    
}

.blogs.categoryPage .category-item::after{
    display: none;
}

.category-item:hover{
    transform: scale(1.05);
    color: lightseagreen;
}


.back-btn{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 1.2rem;
}

.blogs .back-btn a,
.blog-detail .back-btn a{
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.back-btn a:hover{
    color: rgb(108, 179, 236);
}
.back-btn a i{
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    .back-btn{
        position: absolute;
        left: 5%;
        top: 13% !important;
    }
    .back-btn a{
        font-size: 0.8rem;
    }
}

.notfound p{
    margin-top: 20px;
}

