.home {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Serif JP', serif;
}

.home .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/img/loading_bg.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

.home .img_slider {
    width: 50%;
    height: 500px;
    background: rgb(0, 0, 0);
    z-index: 6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* hero */
.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero .main_block {
    width: 80%;
    height: 80vh;
    position: absolute;
    bottom: 10px;
    right: 100px;
    border-radius: 30px !important;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
}


.hero_bg_overlay {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
}

.hero .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: center;
}

.hero .content h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.hero .content a {
    display: inline-block;
    border: 1px solid white;
    margin-top: 50px;
    padding: 20px 40px;
    cursor: pointer;
    position: relative;
    z-index: 6;
    font-size: 1rem;
}

.hero .sub_block {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 4;
    background-image: url("../assets/img/hero-people.jpg");
    width: 300px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.3s;
}


.hero .sub_block p {
    color: black;
    font-family: 'Noto Serif JP', serif;
    writing-mode: vertical-rl;
    position: absolute;
    letter-spacing: 4px;
    top: 30px;
    left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.scroll {
    height: 100px;
    width: 2px;
    background: white;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.scroll::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: -2px;
    animation: scrollsuggest 2s infinite forwards;
}

.scroll p {
    display: inline-block;
    font-size: 1.3rem;
    font-family: 'Noto Serif JP', serif;
    writing-mode: vertical-rl;
    padding-left: 4px;
}

@keyframes shapeanimation {
    0% {
        border-radius: 54% 46% 55% 45% / 50% 66% 34% 50%;
    }

    30% {
        border-radius: 54% 46% 36% 64% / 59% 66% 34% 41%;
    }

    60% {
        border-radius: 15% 85% 36% 64% / 59% 23% 77% 41%;
    }

    90% {
        border-radius: 51% 49% 52% 48% / 67% 23% 77% 33%;
    }
}

@keyframes scrollsuggest {
    0% {
        top: 0%;
    }

    100% {
        top: 100%;
    }
}


@media screen and (max-width:1200px) {
    .hero .content h2 {
        font-size: 3rem;
    }

    .hero .sub_block {
        transform: scale(0.8) translateX(-100px) !important;
    }
}

@media screen and (max-width:992px) {
    .hero .content {
        padding: 40px;
        text-align: center;
    }

    .hero .main_block {
        width: 100% !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        border-radius: 0 !important;
        height: 100vh !important;
    }

    .hero .hero_bg_overlay {
        border-radius: 0;
    }

    .hero .content h2 {
        font-size: 2rem;
    }

    .hero .effect {
        display: none;
    }

    .hero .sub_block {
        display: none;
    }

    .scroll {
        display: none;
    }

}

@media screen and (max-width:576px) {
    .hero .content span {
        font-size: 0.8rem;
    }

    .hero .content {
        width: 100%;
        padding: 40px;
    }

    .hero .content h2 {
        white-space: normal;
    }
}


/* About section */
section.about {
    font-family: 'Noto Serif JP', serif;
    position: relative;
    padding-top: 80px;
}

.about {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.about .content {
    width: 50%;
    padding: 50px;
}

.about .content h2 {
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}

.about .content h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.about .content p {
    line-height: 55px;
    letter-spacing: 1px;
}

.about .img {
    width: 50%;


}

.about .img img {
    width: 90%;
    object-fit: cover;
}

@media screen and (max-width:1200px) {
    .about {
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    .about {
        display: block;
        margin: 0;
        width: 100%;
        margin-bottom: 60px;
    }

    .about .content {
        width: 100%;
        padding: 15px;
    }

    .about .img {
        width: 100%;
        padding: 0px 30px;
    }

    .about .img img {
        width: 100%;
    }

    .about .content p {
        line-height: 30px;
        font-size: 0.8rem;
    }
}

.three {
    width: 90%;
    height: 70vh;
    padding: 0 50px;
    display: flex;
    overflow: hidden;
    padding-top: 30px;
}


.three .content {
    width: 70%;
    order: 2;
    overflow: hidden;
}

.three .content h2 {
    text-align: right;
    margin-bottom: 30px;
    position: relative;
}

.three .content h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.three .content p {
    line-height: 55px;
    letter-spacing: 1px;
}

.three canvas {
    order: 2;
}

@media screen and (max-width:1200px) {
    .three {
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    .three {
        margin-top: 30px;
        width: 100%;
        height: 100vh;
        display: block;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .three .content {
        width: 100%;
    }

    .three .content p {
        line-height: 30px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:576px) {
    .three {
        height: 80vh;
        margin-bottom: 60px;
    }

    .three .div {
        width: 10%;
        overflow: hidden;
    }
}


/* skill section */
.skill {
    margin-bottom: 50px;
    width: 100%;
}

.skill .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

.skill .content {
    width: 80%;
    margin: auto;
}

.skill .content .cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill .content .cards .card {
    width: 33%;
    height: auto;
    border: 1px solid white;
    margin-right: 30px;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.skill .card i {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.skill .card h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.skill .card p {
    line-height: 40px;
}

.skill .card:hover {
    background: rgb(55, 55, 55);
    background: linear-gradient(0deg, rgba(55, 55, 55, 1) 0%, rgba(122, 122, 122, 1) 100%);
    border: 1px solid rgba(231, 231, 231, 0) !important;
}

.skill .card:hover i {
    color: lightseagreen;
}


@media screen and (max-width:1200px) {
    .skill .content {
        width: 95%;
    }

    .skill .content .cards .card {
        padding: 40px 20px;
    }
}

@media screen and (max-width:992px) {
    .skill .content .cards {
        display: block;
        width: 100%;
    }

    .skill .content .cards .card {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
    }
}

@media screen and (max-width:768px){
    .skill .card p{
        font-size: 0.9rem;
        line-height: 35px;
    }
}